[submodule "bootloaders/caterina"]
	path = bootloaders/caterina
	url = https://github.com/keyboardio/Model01-Bootloader.git
[submodule "libraries/KeyboardioHID"]
	path = libraries/KeyboardioHID
	url = https://github.com/keyboardio/KeyboardioHID.git
[submodule "libraries/Arduino-HID"]
	path = libraries/HID
	url = https://github.com/keyboardio/Arduino-HID.git

[submodule "libraries/Kaleidoscope"]
	path = libraries/Kaleidoglyph
	url = https://github.com/gedankenlab/Kaleidoglyph-Core
[submodule "libraries/Kaleidoglyph-Hardware-Model01"]
	path = libraries/Kaleidoglyph-Hardware-Model01
	url = https://github.com/gedankenlab/Kaleidoglyph-Hardware-Model01.git
[submodule "libraries/Model01-Firmware"]
	path = libraries/Model01-Firmware
	url = https://github.com/gedankenlab/Model01-Firmware
