[submodule "bootloaders/caterina"]
	path = bootloaders/caterina
	url = https://github.com/keyboardio/Model01-Bootloader.git
[submodule "libraries/KeyboardioHID"]
	path = libraries/KeyboardioHID
	url = https://github.com/keyboardio/KeyboardioHID.git
[submodule "libraries/Arduino-HID"]
	path = libraries/HID
	url = https://github.com/keyboardio/Arduino-HID.git
[submodule "toolchain"]
	path = toolchain
	url = https://github.com/keyboardio/Kaleidoscope-Prebuilt-Toolchain.git

[submodule "libraries/Kaleidoglyph-Core"]
	path = libraries/Kaleidoglyph-Core
	url = https://github.com/gedankenlab/Kaleidoglyph-Core.git
[submodule "libraries/Kaleidoglyph-Hardware-Model01"]
	path = libraries/Kaleidoglyph-Hardware-Model01
	url = https://github.com/gedankenlab/Kaleidoglyph-Hardware-Model01.git
[submodule "libraries/Model01-Firmware"]
	path = libraries/Model01-Firmware
	url = https://github.com/gedankenlab/Model01-Firmware

[submodule "libraries/Kaleidoglyph-Qukeys"]
	path = libraries/Kaleidoglyph-Qukeys
	url = https://github.com/gedankenlab/Kaleidoglyph-Qukeys.git
[submodule "libraries/Kaleidoglyph-Unshifter"]
	path = libraries/Kaleidoglyph-Unshifter
	url = https://github.com/gedankenlab/Kaleidoglyph-Unshifter.git
[submodule "libraries/Kaleidoglyph-Glukeys"]
	path = libraries/Kaleidoglyph-Glukeys
	url = https://github.com/gedankenlab/Kaleidoglyph-Glukeys.git
[submodule "libraries/Kaleidoglyph-HID"]
	path = libraries/Kaleidoglyph-HID
	url = https://github.com/gedankenlab/Kaleidoglyph-HID.git
[submodule "libraries/Kaleidoglyph-Macros"]
	path = libraries/Kaleidoglyph-Macros
	url = https://github.com/gedankenlab/Kaleidoglyph-Macros.git
